<div class="container">
  <h2>Our latest collection</h2>
  <div class="product-flexbox">
    <div *ngFor="let product of products">
      <mat-card class="product-card">
        <img
          mat-card-image
          src="assets/images/{{ product.image_url }}"
          alt="{{ product.name }}"
        />
        <mat-card-content>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{
            product.price | currency: "EUR"
          }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
